.service-item {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.icon {
  cursor: pointer;
}

.service-item .icon {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
  width: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #d9d9d90d;
  height: 210px;
  transition: box-shadow 0.3s ease;
}

.service-item .icon:hover {
  box-shadow: 0 0 10px 5px orange;
}

.content {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: transparent;
}

.content h2 {
  margin: 10px 0;
  font-size: 1.4rem;
  width: 100%;
}

.content p {
  font-size: 0.9rem;
}
